# Testing the Loaded Dimensional Model in the Redshift Data Warehouse

In [13]:
# Import relevant modules
import sql_queries
import psycopg2
import configparser
import pandas as pd
from time import time

In [2]:
%load_ext sql

In [3]:
# Import the configparser module to read configuration files
config = configparser.ConfigParser()
# Read the configuration file containing AWS and Redshift settings
config.read_file(open('dwh.cfg'))

# Retrieve the parameters of the Redshift cluster from the config file
DWH_DB                 = config.get("DWH", "DWH_DB")
DWH_DB_USER            = config.get("DWH", "DWH_DB_USER")
DWH_DB_PASSWORD        = config.get("DWH", "DWH_DB_PASSWORD")
DWH_PORT               = config.get("DWH", "DWH_PORT")
DWH_ENDPOINT           = config.get('CLUSTER', 'HOST')

In [4]:
# Connect to the Redshift cluster
conn_string = 'postgresql://{}:{}@{}:{}/{}'.format(
    DWH_DB_USER, DWH_DB_PASSWORD, DWH_ENDPOINT, DWH_PORT, DWH_DB
)
print(conn_string)

%sql $conn_string

postgresql://dwhuser:Passw0rd@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh

'Connected: dwhuser@dwh'

After running **1_create_tables.py** and **2_etl.py**, the data appears to have been loaded into the Redshift data warehouse and transformed into a dimensional model with fact and dimension tables in a star schema.

Let's now **verify that the tables are in the correct schema** and **check the number of rows inserted into each table**.

## Check the Schema of Each Table in the Data Warehouse

In [5]:
# Execute the SQL command from sql_queries.py to check 
# the schema of the staging, fact and dim tables
%sql $sql_queries.CHECK_SCHEMA_QUERY

 * postgresql://dwhuser:***@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh
59 rows affected.

[('dim_artists', 'longitude', 'double precision'),
 ('dim_artists', 'latitude', 'double precision'),
 ('dim_artists', 'artist_id', 'character varying'),
 ('dim_artists', 'location', 'character varying'),
 ('dim_artists', 'name', 'character varying'),
 ('dim_songs', 'year', 'integer'),
 ('dim_songs', 'duration', 'double precision'),
 ('dim_songs', 'song_id', 'character varying'),
 ('dim_songs', 'artist_id', 'character varying'),
 ('dim_songs', 'title', 'character varying'),
 ('dim_time', 'weekday', 'integer'),
 ('dim_time', 'year', 'integer'),
 ('dim_time', 'month', 'integer'),
 ('dim_time', 'week', 'integer'),
 ('dim_time', 'day', 'integer'),
 ('dim_time', 'hour', 'integer'),
 ('dim_time', 'start_time', 'timestamp without time zone'),
 ('dim_users', 'user_id', 'integer'),
 ('dim_users', 'level', 'character varying'),
 ('dim_users', 'gender', 'character varying'),
 ('dim_users', 'last_name', 'character varying'),
 ('dim_users', 'first_name', 'character varying'),
 ('fact_songplays', 'songplay_id', 'integer'),
 ('fact_songplays', 'session_id', 'integer'),
 ('fact_songplays', 'user_id', 'integer'),
 ('fact_songplays', 'user_agent', 'character varying'),
 ('fact_songplays', 'location', 'character varying'),
 ('fact_songplays', 'artist_id', 'character varying'),
 ('fact_songplays', 'song_id', 'character varying'),
 ('fact_songplays', 'level', 'character varying'),
 ('fact_songplays', 'start_time', 'timestamp without time zone'),
 ('staging_events', 'registration', 'bigint'),
 ('staging_events', 'userid', 'integer'),
 ('staging_events', 'status', 'integer'),
 ('staging_events', 'sessionid', 'integer'),
 ('staging_events', 'iteminsession', 'integer'),
 ('staging_events', 'length', 'double precision'),
 ('staging_events', 'useragent', 'character varying'),
 ('staging_events', 'song', 'character varying'),
 ('staging_events', 'page', 'character varying'),
 ('staging_events', 'method', 'character varying'),
 ('staging_events', 'location', 'character varying'),
 ('staging_events', 'level', 'character varying'),
 ('staging_events', 'lastname', 'character varying'),
 ('staging_events', 'gender', 'character varying'),
 ('staging_events', 'firstname', 'character varying'),
 ('staging_events', 'auth', 'character varying'),
 ('staging_events', 'artist', 'character varying'),
 ('staging_events', 'ts', 'timestamp without time zone'),
 ('staging_songs', 'num_songs', 'integer'),
 ('staging_songs', 'year', 'integer'),
 ('staging_songs', 'duration', 'double precision'),
 ('staging_songs', 'artist_longitude', 'double precision'),
 ('staging_songs', 'artist_latitude', 'double precision'),
 ('staging_songs', 'title', 'character varying'),
 ('staging_songs', 'song_id', 'character varying'),
 ('staging_songs', 'artist_name', 'character varying'),
 ('staging_songs', 'artist_location', 'character varying'),
 ('staging_songs', 'artist_id', 'character varying')]

## Check the Number of Rows Loaded into Each Table

In [6]:
# Initialize an empty list to store the row counts for each table
table_rowcounts = []

# Iterate over pairs of table names and corresponding row count queries
for table, query in zip(
    sql_queries.TABLES, sql_queries.COUNT_ROWS_QUERIES
):
    # Execute each row count query using the SQL magic command 
    # and retrieve the result
    row_count = %sql $query
    # Append the table name and row count to the list
    table_rowcounts.append([table, row_count[0][0]])
    
# Display the number of rows in each table in a pandas Dataframe
# for better readability
pd.DataFrame(table_rowcounts, columns=['Table', 'Row Count'])

 * postgresql://dwhuser:***@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
 * postgresql://dwhuser:***@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.

            Table  Row Count
0  staging_events       8056
1   staging_songs      14896
2  fact_songplays       6820
3       dim_users        104
4       dim_songs      14896
5     dim_artists      10025
6        dim_time       6813

## Examine the Query Performance of the Dimensional Model

Below are **example analytic queries** that users can run for analysis.

In [18]:
# Iterate over each analytic question and corresponding SQL query
for question, query in sql_queries.ANALYTIC_QUERIES.items():
    # Print the question and SQL query for reference
    print('\nQuestion:', question)
    print(query)
    
     # Measure the time taken to execute the SQL query
    t0 = time()
    answer = %sql $query
    execution_time = time() - t0
    
    # Print the query result
    print(answer)
    # Print the execution time
    print(
        '\nExecution Time: {} seconds\n'.format(execution_time)
    )
    # Print a separator line for better readability
    print('=' * 80)

Question: What is the most played song of all time?

    SELECT dS.title
    FROM fact_songplays AS fS
    JOIN dim_songs AS dS
    ON fS.song_id = dS.song_id
    GROUP BY dS.title
    ORDER BY COUNT(fS.songplay_id) DESC
    LIMIT 1

 * postgresql://dwhuser:***@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
+----------------+
|     title      |
+----------------+
| You're The One |
+----------------+

Execution Time: 0.08168387413024902 seconds

================================================================================

Question: When is the highest usage time of day by hour for songs?

    SELECT dT.hour
    FROM fact_songplays AS fS
    JOIN dim_time AS dT
    ON fS.start_time = dT.start_time
    GROUP BY dT.hour
    ORDER BY COUNT(fS.songplay_id) DESC
    LIMIT 1

 * postgresql://dwhuser:***@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh
1 rows affected.
+------+
| hour |
+------+
|  16  |
+------+

Execution Time: 0.08136773109436035 seconds

================================================================================

Question: Who are the top 3 most popular artists?

    SELECT dA.name AS artist
    FROM fact_songplays AS fS
    JOIN dim_artists AS dA
    ON fS.artist_id = dA.artist_id
    GROUP BY artist
    ORDER BY COUNT(fs.songplay_id) DESC
    LIMIT 3

 * postgresql://dwhuser:***@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh
3 rows affected.
+--------------------------------+
|             artist             |
+--------------------------------+
|         Dwight Yoakam          |
| Kid Cudi / Kanye West / Common |
|            Kid Cudi            |
+--------------------------------+

Execution Time: 0.08150935173034668 seconds

================================================================================

Question: Which five users listen to songs the most between midnight and 1 AM?

    SELECT dU.first_name || ' ' || dU.last_name AS user
    FROM fact_songplays AS fS
    JOIN dim_time AS dT
    ON fS.start_time = dT.start_time
    JOIN dim_users AS dU
    ON fS.user_id = dU.user_id
    WHERE dT.hour = 0
    GROUP BY dU.first_name, dU.last_name
    ORDER BY COUNT(fS.songplay_id) DESC
    LIMIT 5

 * postgresql://dwhuser:***@dwhcluster.cejcerbeak3k.us-west-2.redshift.amazonaws.com:5439/dwh
5 rows affected.
+----------------+
|      user      |
+----------------+
| Jayden Graves  |
| Harper Barrett |
|  Kate Harrell  |
| Layla Griffin  |
|  Sara Johnson  |
+----------------+

Execution Time: 0.0830831527709961 seconds

================================================================================

### The data model in Redshift is now ready for analytical workloads!